body {
  background-color: #262626;
}

.container {
  width: 100%;
}

#searchTerm,
#searchButton,
#luckyButton {
  background-color: floralwhite;
  border-radius: 5px;
}

#imageButton {
  float: right;
  background-color: floralwhite;
  border-radius: 5px;
}

.quoteDisplay {
  margin-top: 20px;
  color: floralwhite;
  text-align: left;
}

.logo {
  color: floralwhite;
  margin-top: 100px;
  margin-left: 20px;
  float: center;
  text-align: center;
}

.allItems {
  width: 360px;
  height: 800px;
  margin: auto;
  margin-top: 50px;
  float: left;
}

.typeBox {
  width: 360px;
  height: 50px;
  background-color: floralwhite;
  border-radius: 30px;
  text-align: left;
  margin-left: 0px;
  float: left;
}

.enterInstruction {
  width: 400px;
  height: 30px;
  margin: auto;
  margin-top: 10px;
  float: left;
}

#textInstruction {
  margin-left: 25px;
  color: floralwhite;
  display: none;
}

#textInstruction span {
  font-weight: bold;
}

#typeArea {
  width: 330px;
  height: 25px;
  background-color: floralwhite;
  margin: auto;
  margin-top: 10px;
  margin-left: 20px;
  border: 1px solid floralwhite;
  font-size: large;
}

#typeArea:focus,
input:focus {
  outline: none;
}

.items {
  background-color: #262626;
  width: 800px;
  height: 1000px;
  margin: auto;
}

.item {
  margin: auto;
  height: fit-content;
  margin-bottom: 10px;
}

.item:hover {
  background-color: dimgray;
}

#item-text {
  text-align: left;
  color: floralwhite;
  font-size: x-large;
  width: fit-content;
}

#item-delete {
  text-align: right;
  width: 20px;
  height: 20px;
  float: right;
  background-color: maroon;
  margin-right: 5px;
  margin-top: 3px;
}

.item div {
  display: inline-block;
}

@media (min-width: 850px) {
  body {
    background-color: #262626;
  }

  .container {
    position: fixed;
    top: 100px;
    width: 800px;
    margin-left: 325px;
  }

  #searchTerm,
  #searchButton,
  #luckyButton {
    background-color: floralwhite;
    border-radius: 5px;
  }

  #imageButton {
    float: right;
    background-color: floralwhite;
    border-radius: 5px;
  }

  .quoteDisplay {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    color: floralwhite;
    text-align: center;
  }

  .logo {
    text-align: center;
    color: floralwhite;
    margin-top: 100px;
    margin-left: 300px;
  }

  .allItems {
    width: 700px;
    height: 1000px;
    margin: auto;
    margin-top: 50px;
    text-align: left;
    margin-left: 30px;
  }

  .typeBox {
    width: 700px;
    height: 50px;
    margin: auto;
    margin-left: 50px;
    background-color: floralwhite;
    border-radius: 30px;
    text-align: center;
    align-content: center;
  }

  .enterInstruction {
    width: 700px;
    height: 30px;
    margin: auto;
    margin-top: 10px;
    margin-left: 50px;
  }

  #textInstruction {
    margin-left: 25px;
    color: floralwhite;
    display: none;
  }

  #typeArea {
    width: 650px;
    height: 25px;
    background-color: floralwhite;
    margin: auto;
    margin-top: 10px;
    border: 1px solid floralwhite;
    font-size: large;
  }

  #typeArea:focus,
  input:focus {
    outline: none;
  }

  .items {
    background-color: #262626;
    width: 800px;
    height: 1000px;
    margin: auto;
  }

  .item {
    margin: auto;
    height: fit-content;
    margin-bottom: 10px;
  }

  .item:hover {
    background-color: dimgray;
  }

  #item-text {
    text-align: left;
    color: floralwhite;
    font-size: x-large;
    width: fit-content;
    margin-left: 25px;
  }

  #item-delete {
    text-align: right;
    width: 20px;
    height: 20px;
    float: right;
    background-color: maroon;
    margin-right: 5px;
    margin-top: 3px;
  }

  .item div {
    display: inline-block;
  }
}
