body {
  background-color: #262626;
}

#searchTerm,
#searchButton,
#luckyButton {
  background-color: floralwhite;
  border-radius: 5px;
}

.quoteDisplay {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 20px;
  color: floralwhite;
  text-align: center;
}

.container {
  margin-top: 25px;
}

.addSection {
  margin-top: 100px;
}

.allItems {
  width: 700px;
  height: 1000px;
  margin: auto;
  margin-top: 50px;
}

.typeBox {
  width: 700px;
  height: 50px;
  margin: auto;
  background-color: floralwhite;
  border-radius: 30px;
  text-align: center;
}

#typeArea {
  width: 650px;
  height: 25px;
  background-color: floralwhite;
  margin: auto;
  margin-top: 10px;
  border: 1px solid floralwhite;
  font-size: large;
}

#typeArea:focus,
input:focus {
  outline: none;
}

.items {
  background-color: #262626;
  width: 800px;
  height: 1000px;
  margin: auto;
}

.item {
  margin: auto;
  height: fit-content;
  margin-bottom: 10px;
}

.item:hover {
  background-color: dimgray;
}

#item-text {
  text-align: left;
  color: floralwhite;
  font-size: x-large;
  width: fit-content;
  margin-left: 25px;
}

.item-text {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 5px;
}
